

.sidebar {
    width: 300px;
    background: #2C3E50; 
    padding: 15px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    color: #ECF0F1; 
    font-size: 20px;
    margin-bottom: 15px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #34495E;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
    transition: background 0.3s;
}

.menu-item:hover {
    background: #1ABC9C;
}

.menu-item i {
    margin-right: 10px;
}

.submenu {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
}

.menu-btn{
    display: block;
    width: 100%;  /* Chiều dài bằng menu-item */
    background: #2C3E50; /* Cùng màu với sidebar */
    color: white;
    text-align: left;
    padding: 12px;
    margin-bottom: 5px;
    border: none; /* Ẩn viền button */
    text-decoration: none; /* Xóa gạch chân ở thẻ a */
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.submenu a {
	display: block;
    width: 90%;  /* Chiều dài bằng menu-item */
    background: #2C3E50; /* Cùng màu với sidebar */
    color: white;
    text-align: left;
    padding: 12px;
    margin-bottom: 5px;
    border: none; /* Ẩn viền button */
    text-decoration: none; /* Xóa gạch chân ở thẻ a */
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-btn:hover, .submenu a:hover {
    background: #1ABC9C; /* Hiệu ứng hover */
    color: white;
}


.toggle-menu {
    display: none;
}

.toggle-menu:checked + .menu-item + .submenu {
    display: block;
}

.content-container {
    margin-left: 270px; /* Đảm bảo nội dung không bị che khuất bởi sidebar */
    padding: 20px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    
    .menu-item {
        font-size: 14px;
        padding: 10px;
    }
}
