@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

/* Toolbar styles */
.toolbar {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    background: #34495E;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

/* Nhóm ô tìm kiếm */
.toolbar .input-group {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.toolbar label {
    color: #ECF0F1;
    font-size: 14px;
}

/* Nhóm ô Tháng và Năm */
.toolbar .month-year-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
}

.toolbar .month-year {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.toolbar input[type="number"],
.toolbar input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    color: #333;
    margin-bottom: 8px;
}

.toolbar input[type="number"] {
    width: 200px;
}

.toolbar input[type="text"] {
    width: 455px;
}

/* Vùng button */
.toolbar .button-group {
    display: flex;
    gap: 10px;
}

/* Nút tìm kiếm và làm mới */
.toolbar button {
    padding: 8px 16px;
    background: #1ABC9C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.toolbar button:hover {
    background: #16a085;
}

.reset-btn {
    background: #6c757d;
}

.reset-btn:hover {
    background: #5a6268;
}

/* Thông báo lỗi */
.error-msg {
    color: #FFC107; 
    font-size: 14px;
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.reader-container {
    width: calc(100% - 270px);
    min-height: 100vh;
    margin-left: 270px;
    background-color: #E3F2FD;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reader-item{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
/* Huy chương */
.medal {

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}

/* Huy chương vàng */
.reader-item:nth-child(1) .medal {
   background: gold;
}
/* Huy chương bạc */
.reader-item:nth-child(2) .medal {
    background: silver;
}

/* Huy chương đồng */
.reader-item:nth-child(3) .medal {
    background: #cd7f32;
}

/* Table styles */
.table {
    width: 100%;
    max-width: 1030px;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background: #34495E;
    color: #ECF0F1;
    font-weight: bold;
}

.table td {
    background: #fff;
    color: #333;
}

.table tr:nth-child(even) {
    background: #fff	;
}

.table tr:hover {
    background: #fff;
}
