<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/account.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>Thông tin cá nhân</title>
</head>
<body>
	<!-- Menu Bar -->
	<div th:replace="home :: header"></div>

	<!-- Form chức thông tin tài khoản và lịch sử mượn / trả -->
	<div class="main-container">
		<!-- Form thông tin bên trái -->
		<section class="left-container" th:object="${user}"> 	<!-- object : chọn user hiện tại -->
			<h2>Thông tin cá nhân</h2>

			<div class="info-group">
				<label>Tên tài khoản:</label>
				<span th:text="*{username}"></span>
			</div>

			<div class="info-group">
				<label>Họ và tên:</label>
				<span th:text="*{name}"></span>
			</div>

			<div class="info-group">
				<label>Email:</label>
				<span th:text="*{email}"></span>
			</div>

			<div class="info-group">
				<label>Số điện thoại:</label>
				<span th:text="*{phone}"></span>
			</div>

			<button class="changed-btn" onclick="openPopup()">Thay đổi thông tin</button>

			<form action="/user-logout" method="get">
				<button class="logout-btn">Đăng xuất</button>
			</form>
			
			<!-- Form chỉnh sửa khi bấm "Thay đổi thông tin" -->
			<div id="editAccountPopup" class="popup-overlay">
			    <div class="popup-content">
			        <h2>Chỉnh sửa thông tin</h2>
			        
			        <form action="/home/edit-account" method="post">
			            <div class="info-group">
			                <label>Tên tài khoản:</label>
			                <input type="text" name="username" th:value="*{username}">
			            </div>
			            
			            <div class="info-group">
			                <label>Họ và tên:</label>
			                <input type="text" name="name" th:value="*{name}">
			            </div>
			            
			            <div class="info-group">
			                <label>Email:</label>
			                <input type="text" name="email" th:value="*{email}">
			            </div>
			            
			            <div class="info-group">
			                <label>Số điện thoại:</label>
			                <input type="text" name="phone" th:value="*{phone}">
			            </div>
			            
			            <button type="submit" class="save-btn">Lưu</button>
			            <button type="button" class="close-btn" onclick="closePopup()">Hủy</button>
			        </form>
			    </div>
			</div>

		</section>

		<!-- Bảng lịch sử mượn / trả bên phải -->
		<section class="right-container">
			<h2>Lịch sử mượn / trả sách</h2>
			<!-- Bộ lọc -->
			<form action="/home/account" method="get">
				<div class="searching-group">
					<label for="status">Trạng thái:</label>
					<select class="status" id="status">
						<option value="all">Tất cả</option>
						<option value="borrowed">Đang mượn</option>
						<option value="returned">Đã trả</option>
						<option value="not-returned">Chưa trả</option>
					</select>
				</div>

				<input type="text" name="search" placeholder="Nhập tên sách tại đây ...">

				<button type="submit">Tìm kiếm</button>
			</form>
			<!-- Bảng lịch sử -->
			<table>
			<thead>
				<tr>
					<th>Tên sách</th>
					<th>Tên tác giả</th>
					<th>Ngày mượn</th>
					<th>Ngày trả</th>
					<th>Trạng thái</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
			</tbody>
			</table>
		</section>
	</div>
</body>

<!-- Chức năng pop-up giao diện (không vi phạm nguyên tắc mô hình MVC -->
<script type="text/javascript">
	function openPopup() {
	    document.getElementById("editAccountPopup").style.display = "flex";
	}
	
	function closePopup() {
	    document.getElementById("editAccountPopup").style.display = "none";
	}
	
	// Đảm bảo popup không tự hiển thị khi tải trang
	document.addEventListener("DOMContentLoaded", function () {
	    document.getElementById("editAccountPopup").style.display = "none";
	});

</script>
</html>



