<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/account.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>Thông tin cá nhân</title>
</head>
<body>
	<!-- Menu Bar -->
	<div th:replace="home :: header"></div>
	<!-- Form chức thông tin tài khoản và lịch sử mượn / trả -->
	<div class="main-container">
		<!-- Form thông tin bên trái -->
		<section class="left-container" th:object="${user}"> 	<!-- object : chọn user hiện tại -->
			<h2>Thông tin cá nhân</h2>

			<div class="info-group">
				<label>Tên tài khoản:</label>
				<span th:text="*{username}"></span>
			</div>

			<div class="info-group">
				<label>Họ và tên:</label>
				<span th:text="*{name}"></span>
			</div>

			<div class="info-group">
				<label>Email:</label>
				<span th:text="*{email}"></span>
			</div>

			<div class="info-group">
				<label>Số điện thoại:</label>
				<span th:text="*{phone}"></span>
			</div>

			<button class="changed-btn" onclick="openPopup()">Thay đổi thông tin</button>

			<form action="/user-logout" method="get">
				<button class="logout-btn">Đăng xuất</button>
			</form>
			
			<!-- Hiển thị thông báo thành công hoặc lỗi -->
            <div th:if="${successMessage}" class="success-message" th:text="${successMessage}"></div>
            <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
			
			<!-- Form chỉnh sửa khi bấm "Thay đổi thông tin" -->
			<div id="editAccountPopup" class="popup-overlay">
			    <div class="popup-content">
			        <h2>Chỉnh sửa thông tin</h2>

					<form th:action="@{/home/edit-account}" th:object="${user}" method="post"
							class="confirm-form">
						<input type="hidden" th:field="*{userId}">

						<div class="info-group">
							<label>Tên tài khoản:</label>
							<input type="text" th:field="*{username}" disabled="disabled">
						</div>

						<div class="info-group">
							<label>Họ và tên:</label>
							<input type="text" th:field="*{name}" required>
						</div>

						<div class="info-group">
							<label>Email:</label>
							<input type="email" th:field="*{email}" required>
						</div>

						<div class="info-group">
							<label>Số điện thoại:</label>
							<input type="text" th:field="*{phone}" required>
						</div>

						<button type="submit" class="save-btn">Lưu</button>
						<button type="button" class="close-btn" onclick="closePopup()">Hủy</button>
					</form>
				</div>
			</div>

		</section>

		<!-- Bảng lịch sử mượn / trả bên phải -->
		<section class="right-container">
			<!-- Lưu ý cho người dùng -->
			<section class="notice-container">
			    <h2>Lưu ý</h2>
			    <ul>
			        <li>Mọi tài khoản bị cảnh cáo vi phạm lần 2 sẽ bị <b>'Khóa'</b>.</li>
			        <li>Thư viện sẽ giữ sách cho bạn sau khi <b>'Xác nhận mượn'</b>. Hạn chót: <b>2 ngày</b> sau ngày 'Xác nhận'. Nếu bạn không đến nhận sách sau thời gian này, hệ thống sẽ hủy yêu cầu và cảnh báo lần 1.</li>
			        <li>Số sách được mượn tối đa: <b>3 quyển</b>.</li>
			        <li>Thời hạn mượn mỗi quyển sách: <b>14 ngày</b> kể từ ngày <b>'Nhận sách'</b>. Nếu bạn trả trễ hạn, hệ thống sẽ cảnh báo lần 1.</li>
			        <li>Bạn có thể <b>Gia hạn</b> trong thời hạn mượn sách. Sau ngày thứ 14, bạn không thể Gia hạn được.</li>
			        <li>Số ngày Gia hạn: <b>5 ngày</b> (mỗi tài khoản có <b>2 lượt Gia hạn</b>).</li>
			        <li><b>Cảnh báo</b>: Nếu bạn làm hỏng hoặc mất sách, hệ thống sẽ <b>'Khóa'</b> tài khoản của bạn.</li>
			    </ul>
			</section>
		
			<h2>Lịch sử mượn / trả sách</h2>
			
			<!-- Bộ lọc -->
			<form action="/home/account" method="get">
				<div class="searching-group">
					<label for="status">Trạng thái:</label>
					<select class="status" id="status">
						<option value="pending">Đang chờ</option>
						<option value="borrowed">Đang mượn</option>
						<option value="returned">Đã trả</option>
						<option value="outdate">Quá hạn</option>
					</select>
				</div>

				<div class="searching-action">
					<input type="text" name="search" placeholder="Nhập tên sách tại đây ...">

					<button type="submit" class="search-btn">Tìm kiếm</button>
				</div>
			</form>
			
			<!-- Bảng lịch sử -->
			<table>
			<thead>
				<tr>
					<th>Tên sách</th>
					<th>Tên tác giả</th>
					<th>Ngày xác nhận</th>
					<th>Ngày mượn</th>
					<th>Ngày trả</th>
					<th>Trạng thái</th>
					<th>Xác nhận Mượn</th>
					<th>Gia hạn</th>
				</tr>
			</thead>
			<tbody>
					<tr th:each="borrow : ${borroweBooks}">
						<td th:text="${borrow.book.bookName}"></td>
						
						<td>
							<span th:each="author,iterStat : ${borrow.book.authors}">
			                    <span th:text="${author.authorName}"></span>
			                    <span th:if="${!iterStat.last}">, </span>
			                </span>
			             </td>
			             
						<td th:text="${borrow.userConfirmDate != null ? #dates.format(borrow.userConfirmDate, 'dd/MM/yyyy') : '------'}"></td>

						<td th:text="${borrow.startDate != null ? #dates.format(borrow.startDate, 'dd/MM/yyyy') : '------'}"></td>
						
						<td th:text="${borrow.endDate != null ? #dates.format(borrow.endDate, 'dd/MM/yyyy') : '------'}"></td>

						<td>
							<span th:classappend="${borrow.status}"
								  th:text="${borrow.status == 'pending' ? 'Đang chờ'
										   : (borrow.status == 'borrowed' ? 'Đang mượn'
										   : (borrow.status == 'returned' ? 'Đã trả'
										   : (borrow.status == 'outdate' ? 'Quá hạn' : '')))}">
							</span>
						</td>


						<td>
			                <form th:if="${borrow.status eq 'pending' and borrow.userConfirmDate == null}" 
			                		th:action="@{/home/confirm-borrow}" method="post" 
			                		class="confirm-borrow-form">
			                    <input type="hidden" name="borrowId" th:value="${borrow.id}">
			                    <button type="submit" class="confirm-btn">Xác nhận</button>
			                </form>
			            </td>
			            
						<td>
						    <form th:if="${borrow.status eq 'borrowed' and borrow.renewCount lt 2}" 
						          th:action="@{/home/renew}" method="post"
						          class="renew-form">
						        <input type="hidden" name="borrowId" th:value="${borrow.id}">
						        <button type="submit" class="renew-btn">Gia hạn</button>
						    </form>
						
						    <p th:if="${borrow.renewCount ge 0 and borrow.renewCount lt 2}" 
						       th:text="|Đã gia hạn: ${borrow.renewCount} lần|" 
						       class="renewal-status">
						    </p>
						
						    <p th:if="${borrow.renewCount ge 2}" class="renewal-status expired">Đã hết lượt gia hạn</p>
						</td>
					</tr>
			</tbody>
			</table>
		</section>
	</div>
	
	<script th:src="@{/js/notification.js}"></script>
</body>

<!-- Script form chỉnh sửa thông tin tài khoản -->
<script>
	function openPopup() {
	    document.getElementById("editAccountPopup").style.display = "flex";
	}
	
	function closePopup() {
	    document.getElementById("editAccountPopup").style.display = "none";
	}
	
	document.addEventListener("DOMContentLoaded", function () {
	    document.getElementById("editAccountPopup").style.display = "none";
	    
	    const successMessage = document.querySelector(".success-message");
	    if (successMessage) {
	        closePopup();
	        setTimeout(function () {
	            successMessage.style.display = "none";
	        }, 1500);
	    }
	
	    const errorMessage = document.querySelector(".error-message");
	    if (errorMessage) {
	        setTimeout(function () {
	        	errorMessage.style.display = "none";
	        }, 1500);
	    }
	});
</script>

<!-- Script hộp thoại thông báo -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".confirm-form").forEach(form => {
        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn form gửi ngay lập tức

            Swal.fire({
                title: "Xác nhận thông tin tài khoản",
                text: "Bạn có chắc chắn cập nhận thông tin?",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Hủy"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Nếu người dùng bấm Xóa, gửi form
                }
            });
        });
    });
});

document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".confirm-borrow-form").forEach(form => {
        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn form gửi ngay lập tức

            Swal.fire({
                title: "Xác nhận mượn sách",
                text: "Bạn có chắc chắn muốn mượn sách này? Vui lòng đến thư viện nhận sách sau khi chọn 'Đồng ý'!",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Hủy"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Nếu người dùng bấm Xóa, gửi form
                }
            });
        });
    });
});

document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".renew-form").forEach(form => {
        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn form gửi ngay lập tức

            Swal.fire({
                title: "Xác nhận gia hạn",
                text: "Bạn có muốn gia hạn?",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Hủy"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Nếu người dùng bấm Xóa, gửi form
                }
            });
        });
    });
});
</script>

</html>