<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" th:href="@{/css/forgetPassword.css}">
</head>
<body>
	<section class="forgot-password-container">
	    <h2>Quên mật khẩu</h2>
	    <p>Nhập địa chỉ email để nhận mã khôi phục tài khoản.</p>
	
	    <!-- Form gửi OTP -->
	    <form action="/forget-password" method="post">
	        <div class="input-group">
	            <label for="email">Email:</label>
	            <div class="email-group">
	                <input type="email" id="email" name="email" placeholder="Nhập email của bạn" required th:value="${email}">
	                <button type="submit" class="send-message">Gửi Email</button>
	            </div>
	        </div>
	
	        <p th:if="${successCode}" style="color: green;" th:text="${successCode}"></p>
	        <p th:if="${errorEmail}" style="color: red;" th:text="${errorEmail}"></p>
	        <p th:if="${errorCode}" style="color: red;" th:text="${errorCode}"></p>
	    </form>
	
	    <!-- Hiển thị form nhập OTP và mật khẩu khi đã gửi OTP -->
	    <form action="/reset-password" method="post" th:if="${otpSent}">
	        <input type="hidden" name="email" th:value="${email}">
	
	        <div class="input-group">
	            <label for="otp">Nhập mã OTP:</label>
	            <input type="text" id="otp" name="otp" placeholder="Nhập mã OTP đã nhận" required>
	        </div>
	
	        <div class="input-group">
	            <label for="password">Nhập mật khẩu mới:</label>
	            <input type="password" id="password" name="newPassword" placeholder="Nhập mật khẩu mới tại đây" required>
	        </div>
	
	        <button type="submit" class="confirm-reset">Xác nhận</button>
	        
	        <p th:if="${successPassword}" style="color: green;" th:text="${successPassword}"></p>
	        <p th:if="${invalidOTP}" style="color: red;" th:text="${errorMessage}"></p>
	        <p th:if="${errorEmail}" style="color: red;" th:text="${errorEmail}"></p>
	    </form>
	
	    <form action="/admin-return" method="get">
		    <button class="return-btn" type="submit">Quay lại đăng nhập</button>
		</form>
	</section>
</body>
</html>
