<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
	<title>Dashboard</title>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
	<h2>Menu</h2>

	<!-- Quản lý sách -->
	<div>
		<input type="checkbox" id="menu1" class="toggle-menu">
		<label for="menu1" class="menu-item">
			<i class="fa-solid fa-book"></i> Quản lý sách
			<i class="fa-solid fa-chevron-down ms-auto"></i>
		</label>
		<div class="submenu">
			<form action="/admin/book-list" method="post">
				<button type="submit" class="menu-btn">Danh sách thư viện</button>
			</form>
			<form action="/admin/import" method="post">
				<button type="submit" class="menu-btn">Danh sách nhập hàng</button>
			</form>
			<form action="/admin/add-book-option" method="post">
				<button type="submit" class="menu-btn">Thêm sách</button>
			</form>
		</div>
	</div>

	<!-- Quản lý độc giả -->
	<div>
		<input type="checkbox" id="menu2" class="toggle-menu">
		<label for="menu2" class="menu-item">
			<i class="fa-solid fa-user"></i> Quản lý độc giả
			<i class="fa-solid fa-chevron-down"></i>
		</label>
		<div class="submenu">
			<form action="/admin/user-list" method="post">
				<button type="submit" class="menu-btn">Danh sách độc giả</button>
			</form>
			<form action="/admin/violation-list" method="post">
				<button type="submit" class="menu-btn">Danh sách vi phạm</button>
			</form>
		</div>
	</div>

	<!-- Mục Thống kê -->
	<div>
		<input type="checkbox" id="menu3" class="toggle-menu">
		<label for="menu3" class="menu-item">
			<i class="fa-solid fa-chart-bar"></i> Thống kê
			<i class="fa-solid fa-chevron-down"></i>
		</label>
		<div class="submenu">
			<form action="/admin/statistics/all" method="post">
				<button type="submit" class="menu-btn">Báo cáo số lượng sách</button>
			</form>
			<form action="/admin/statistics/top-readers" method="post">
				<button type="submit" class="menu-btn">Độc giả mượn nhiều nhất</button>
			</form>
		</div>
	</div>

	<!-- Hỗ trợ -->
	<div>
		<input type="checkbox" id="menu4" class="toggle-menu">
		<label for="menu4" class="menu-item">
			<i class="fa-solid fa-sign-out-alt"></i> Hỗ trợ
			<i class="fa-solid fa-chevron-down"></i>
		</label>
		<div class="submenu">
			<a href="/logout">Đăng xuất</a>
		</div>
	</div>
</div>
</body>
</html>
