<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Dashboard</title>
</head>
<body>
<div class="sidebar">
	<h2>Menu</h2>
	<div>
		<input type="checkbox" id="menu1" class="toggle-menu">
		<label for="menu1" class="menu-item">
			<i class="fa-solid fa-book"></i> Quản lý sách
			<i class="fa-solid fa-chevron-down ms-auto"></i>
		</label>
		
		<div class="submenu">
			<a href="#">Danh sách thư viện</a>
			<a href="/admin/add-book">Thêm sách</a>
			<a href="#">Cập nhật thông tin</a>
		</div>
	</div>
	
	<div>
    	<input type="checkbox" id="menu2" class="toggle-menu">
    	<label for="menu2" class="menu-item">
        	<i class="fa-solid fa-user"></i> Quản lý độc giả
        	<i class="fa-solid fa-chevron-down"></i>
    	</label>
    	<div class="submenu">
	        <a href="#">Danh sách độc giả</a>
	        <a href="#">Danh sách vi phạm</a>
    	</div>
	</div>
	
	<div>
		<input type="checkbox" id="menu3" class="toggle-menu">
		<label for="menu3" class="menu-item">
			<i class="fa-solid fa-employee"></i> Quản lý dịch vụ
			<i class="fa-solid fa-chevron-down"></i>
		</label>
		<div class="submenu">
			<a href="#">Sách đang mượn</a>
			<a href="#">Sách đã trả</a>
			<a href="#">Quá hạn</a>
		</div>
	</div>
	
	<div>
		<input type="checkbox" id="menu4" class="toggle-menu">
		<label for="menu4" class="menu-item">
			<i class="fa-solid fa-sign-out-alt"></i> Hỗ trợ
			<i class="fa-solid fa-chevron-down"></i>
		</label>
		<div class="submenu">
			<a href="/login">Đăng xuất</a>
			<a href="#">Đổi mật khẩu</a>
		</div>
	</div>
	
</div>	

</body>
</html>
