<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bestBook.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>Sách đề cử </title>
</head>
<body>
		<!-- Header -->
	<div th:replace="home :: header"></div>
	
	
		<!-- Danh sách sách -->
	<div class="book-container">
		<h2>Top sách được mượn nhiều nhất</h2>
        
		<!-- Top 3 sách đứng đầu -->
         <div class="top-books">
               <div th:each="book, iterStat : ${topBooks}" th:if="${iterStat.index < 3}" class="book-item" onmousemove="showInfo(event, this)" onmouseleave="hideInfo(this)">
	                <div class="medal" th:text="${iterStat.index + 1}">🥇</div>
	                <img th:alt="${book.bookName}" th:src="@{/images/book_images/{img}(img=${book.bookImage})}"width="80">
	                <h4 th:text="${book.bookName}"></h4>
	                <div class="button-container">
	                    <form th:action="@{/home/book-detail/{id}(id=${book.bookId})}" method="get">
	                        <button type="submit">Xem sách</button>
	                    </form>
	                </div>
	                <!-- Tooltip chứa thông tin sách -->
			    	<div class="book-info">
				        <img th:alt="${book.bookName}"  th:src="@{/images/book_images/{img}(img=${book.bookImage})}">
						<h4 th:text="${book.bookName}"></h4>
						<p>
				    Tác giả: 
				    <span th:each="author, iterStat : ${book.authors}">
				        <span th:text="${author.authorName}"></span>
				        <span th:if="${!iterStat.last}">, </span>
				    </span>
				</p>
						<p th:text="'Thể loại: ' + ${book.category}"></p>
						<p th:text="'Năm xuất bản: ' + ${book.publishYear}"></p>
			    	</div>
               </div>
          </div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<div class="book-list">
			<div th:each="book, iterStat : ${bookPage.content}" th:if="${iterStat.index >= 0}" class="book-item" onmousemove="showInfo(event, this)" onmouseleave="hideInfo(this)">
				<div class="rank-number" th:text="${bookPage.number * bookPage.size + iterStat.index + 4}"></div>
				<img th:alt="${book.bookName}"  th:src="@{/images/book_images/{img}(img=${book.bookImage})}"width="80">
				<h4 th:text="${book.bookName}"></h4>
					<div class="button-container">
	                    <form th:action="@{/home/book-detail/{id}(id=${book.bookId})}" method="get">
	                        <button type="submit">Xem sách</button>
	                    </form>
	                </div>
				<!-- Tooltip chứa thông tin sách -->
			    	<div class="book-info">
				        <img th:alt="${book.bookName}"  th:src="@{/images/book_images/{img}(img=${book.bookImage})}">
						<h4 th:text="${book.bookName}"></h4>
						<p>
				    Tác giả: 
				    <span th:each="author, iterStat : ${book.authors}">
				        <span th:text="${author.authorName}"></span>
				        <span th:if="${!iterStat.last}">, </span>
				    </span>
						</p>
						<p th:text="'Thể loại: ' + ${book.category}"></p>
						<p th:text="'Năm xuất bản: ' + ${book.publishYear}"></p>
			    	</div>
			</div>
			
		</div>
				<div th:if="${bookPage.totalElements == 0}">
	            	<p>Không có sách nào trong thư viện</p>
	       		</div>
		<!-- Phân trang -->
	        <div class="pagination" th:if="${bookPage.totalPages > 1}">
	            <ul>
	                <li th:if="${bookPage.hasPrevious()}">
	                    <a th:href="@{/home/best-book(page=${bookPage.number - 1})}">Trước</a>
	                </li>
	
	                <li th:each="i : ${#numbers.sequence(0, bookPage.totalPages - 1)}"
	                    th:classappend="${i == bookPage.number} ? 'active'">
	                    <a th:href="@{/home/best-book(page=${i})}" th:text="${i + 1}"></a>
	                </li>
	
	                <li th:if="${bookPage.hasNext()}">
	                    <a th:href="@{/home/best-book(page=${bookPage.number + 1}, size=${bookPage.size})}">Sau</a>
	                </li>
	            </ul>
	        </div>
	</div>
	
	 <script th:src="@{/js/TooltipController.js}"></script>
	 
	 <script th:src="@{/js/notification.js}"></script>
</body>

</html>