<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bookFilter.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>Sách theo chủ đề</title>
</head>
<body>
	<!-- Header -->
	<div th:replace="home :: header"></div>
	
	<div id="main-container">
		<!-- Filter -->
		<div id="filter-container">
			<h3>Lọc theo chủ đề</h3>
			<form th:action="@{/home/book-filter}" method="get">
			    <div class="category-filter">
			    	<label>
			            <input type="radio" name="categoryName" value=""
			                   th:checked="${categoryNames == null or #lists.isEmpty(categoryNames)}">
			            <span>Tất cả</span>
			        </label>
			        <div th:each="category : ${categories}">
			            <label>
			                <input type="radio" name="categoryName" th:value="${category.categoryName}"
       							th:checked="${categoryNames != null and #lists.contains(categoryNames, category.categoryName)}">
			                <span th:text="${category.categoryName}"></span>
			            </label>
			        </div>
			    </div>
				
			    <h3>Chọn khoảng thời gian</h3>
			    <div class="time-filter">
			    	<label>
			            <input type="radio" name="timeFilter" value=""
			                   th:checked="${selectedTimeRange == null or selectedTimeRange == ''}">
			            Tất cả
			        </label>
			        <label>
			            <input type="radio" name="timeFilter" value="1990-2004"
			                   th:checked="${selectedTimeRange != null and selectedTimeRange == '1990-2004'}">
			            1990 - 2004
			        </label>
			        <label>
			            <input type="radio" name="timeFilter" value="2005-2010"
			                   th:checked="${selectedTimeRange != null and selectedTimeRange == '2005-2010'}">
			            2005 - 2010
			        </label>
			        <label>
			            <input type="radio" name="timeFilter" value="2011-2015"
			                   th:checked="${selectedTimeRange != null and selectedTimeRange == '2011-2015'}">
			            2011 - 2015
			        </label>
			        <label>
			            <input type="radio" name="timeFilter" value="2016-2020"
			                   th:checked="${selectedTimeRange != null and selectedTimeRange == '2016-2020'}">
			            2016 - 2020
			        </label>
			        <label>
			            <input type="radio" name="timeFilter" value="2021-2025"
			                   th:checked="${selectedTimeRange != null and selectedTimeRange == '2021-2025'}">
			            2021 - 2025
			        </label>
			
			        <button type="submit">Tìm kiếm</button>
			    </div>
			</form>
		</div>
	
		<!-- Khu vực hiện kết quả -->
	    <div class="book-container">
	        <h2>Thư viện</h2>
	        <div class="book-list" th:if="${bookPage != null and not #lists.isEmpty(bookPage.content)}">
	            <div th:each="book : ${bookPage.content}" class="book-item">
	                <img th:src="@{/images/book_images/{img}(img=${book.bookImage})}" alt="Ảnh bìa" width="80">
	                <h4 th:text="${book.bookName}"></h4>
	
	                <div class="button-container">
	                    <form th:action="@{/home/book-detail/{id}(id=${book.bookId})}" method="get">
	                        <button type="submit">Xem sách</button>
	                    </form>
	                </div>
	            </div>
	        </div>
	
	        <div th:if="${bookPage == null or #lists.isEmpty(bookPage.content)}">
	            <p>Không có sách nào trong thư viện</p>
	        </div>
	
	        <!-- Phân trang -->
	        <div class="pagination" th:if="${bookPage.totalPages > 1}">
	            <ul>
	                <li th:if="${bookPage.hasPrevious()}">
	                    <a th:href="@{/home/book-filter(page=${bookPage.number - 1}, size=${bookPage.size},
							categoryName=${categoryNames}, 
							timeFilter=${selectedTimeRange})}">Trước</a>
	                </li>
	
	                <li th:each="i : ${#numbers.sequence(0, bookPage.totalPages - 1)}"
	                    th:classappend="${i == bookPage.number} ? 'active'">
	                    <a th:href="@{/home/book-filter(page=${i}, size=${bookPage.size},
							categoryName=${categoryNames}, timeFilter=${selectedTimeRange})}" th:text="${i + 1}"></a>
	                </li>
	
	                <li th:if="${bookPage.hasNext()}">
	                    <a th:href="@{/home/book-filter(page=${bookPage.number + 1}, size=${bookPage.size},
							categoryName=${categoryNames}, 
							timeFilter=${selectedTimeRange})}">Sau</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>

	<!-- Footer -->
	<div th:replace="home :: footer"></div>
</body>
</html>
