<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="/css/bookList.css">
</head>
<body>

    <div class="container">
        <h2>Danh sách thư viện</h2>
        <table>
            <thead>
                <tr>
                	<th>STT</th>
                    <th>ID</th>
                    <th>Tên sách</th>
                    <th>Tác giả</th>
                    <th>Số lượng</th>
                    <th>Năm xuất bản</th>
                    <th>Thể loại</th>
                </tr>
            </thead>
            <tbody id="data-table">
                <tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr>
  				<tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr><tr>
				    <td>1</td>
				    <td>12aa</td>
				    <td>Germany</td>
				    <td>Helson</td>
				    <td>15</td>
				    <td>2012</td>
				    <td>Tài liệu</td>
  				</tr>
            </tbody>
        </table>
    </div>

    <script src="script.js"></script>
</body>
</html>
