<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" th:href="@{/css/bookList.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
	<!-- Sidebar -->
	<div th:replace="admin :: sidebar"></div>
	
	<!-- Form danh sách -->
    <div class="container">
        <h2>Danh sách thư viện</h2>
        
        <div class="search-container">
			<input type="text" id="searchInput" placeholder="Nhập tên sách hoặc tên tác giả ...">
			<button class="search-btn">🔍 Tìm kiếm</button>
		</div>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ảnh</th>
                    <th>Tên sách</th>
                    <th>Tác giả</th>
                    <th>Thể loại</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
			<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.bookId}"></td>
				<td>
					<img th:src="@{/images/book_images/{img}(img=${book.bookImage})}" alt="Ảnh bìa" width="80">
				</td>
				<td th:text="${book.bookName}"></td>
				<td>
					<span th:each="author, iterStat : ${book.authors}">
						<span th:text="${author.authorName}"></span>
						<span th:if="${!iterStat.last}">, </span>
					</span>
				</td>

				<td th:text="${book.category.categoryName}"></td>
				<td>
					<form th:action="@{/admin/edit-book/{id}(id=${book.bookId})}" method="post">
					    	<button type="submit" class="btn btn-edit">Sửa</button>
					</form>
				</td> 
				<td>
					<form th:action="@{/admin/delete-book/{id}(id=${book.bookId})}" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa sách này?');">
					    	<button type="submit" class="btn btn-remove">Xóa</button>
					</form>
				</td> 
			</tr>
			</tbody>
		</table>
    </div>
</body>
</html>
