<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản lý Nhập Hàng</title>
	<link rel="stylesheet" th:href="@{/css/import.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<!-- Sidebar -->
<div th:replace="admin :: sidebar"></div>

<!-- Nội dung chính -->
<div class="container">
	<h2>Danh sách Nhập hàng</h2>

	<!-- Form tìm kiếm -->
    <form th:action="@{/admin/search-book}" method="post" class="search-container">
	    <input type="hidden" name="targetView" value="import"/>
	    <input type="text" name="keyword" placeholder="Nhập mã hóa đơn hoặc tên nhân viên ..." th:value="${keyword}"/>
	    <input type="date" name="importDate" placeholder="MM/DD/YY" th:value="${importDate}"/>
	    <button type="submit" class="search-btn">🔍 Tìm kiếm</button>
	</form>

    <!-- Thông báo lỗi -->
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>

	<table class="book-table">
		<thead>
		<tr>
			<th>Mã hóa đơn</th>
			<th>Ngày nhập</th>
			<th>Người nhập hàng</th>
			<th>Hành động</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="importReceipt : ${importReceipts}">
			<td th:text="${importReceipt.invoiceId}"></td>
			<td th:text="${#temporals.format(importReceipt.importDate, 'dd/MM/yyyy')}"></td>
			<td th:text="${importReceipt.user.name}"></td>
			<td>
				<form th:action="@{/admin/import-receipt-detail}" method="post">
					<input type="hidden" name="invoiceId" th:value="${importReceipt.invoiceId}">
					<input type="hidden" name="importDate" th:value="${#temporals.format(importReceipt.importDate, 'dd/MM/yyyy')}">
					<input type="hidden" name="userName" th:value="${importReceipt.user.name}">
					<button type="submit" class="history-btn">Xem lịch sử</button>
				</form>

			</td>
		</tr>
		</tbody>
	</table>

</div>
</body>
</html>
