<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" th:href="@{/css/import.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
	<!-- Sidebar -->
	<div th:replace="admin :: sidebar"></div>
	
	<!-- Form danh sách -->
    <div class="container">
        <h2>Danh sách Nhập hàng</h2>

		<form th:action="@{/admin/search-book}" method="post">
			<input type="text" name="keyword" placeholder="Nhập tên sách hoặc tên tác giả ...">
			<button type="submit" class="search-btn">🔍 Tìm kiếm</button>
		</form>

		<table>
            <thead>
                <tr>
                    <th>ID sách</th>
                    <th>Ảnh</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Ngày nhập khẩu</th>
                </tr>
            </thead>
			<tbody>
			    <tr th:each="book : ${books}"> 
			        <td th:text="${book.bookId}"></td> <!-- ID sách -->
			        <td>
			            <img th:src="@{/images/book_images/{img}(img=${book.bookImage})}" alt="Ảnh bìa" width="80"> <!-- Ảnh -->
			        </td>
			        <td th:text="${book.bookName}"></td> <!-- Tên sách -->
			        <td th:text="${book.amount}"></td> <!-- Số lượng -->
			        <td th:text="${#dates.format(book.importDate, 'dd/MM/yyyy')}"></td> <!-- Ngày nhập khẩu -->
			    </tr>
			</tbody>
		</table>
    </div>
</body>
</html>