<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/latestBook.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>Sách mới nhất</title>
</head>
<body>
		<!-- Header -->
	<div th:replace="home :: header"></div>
	
	
		<!-- Danh sách sách -->
		<div class="book-container">
			<h2>Danh sách sách mới nhất</h2>
			<!-- Container chứa cả ô tìm kiếm và ô lọc -->
    		<div class="search-filter-container">
				<form th:action="@{/home/latest-book}" method="post" class="search-container">
					<button type="submit" class="search-btn">🔍 Tìm kiếm</button>
					<input type="text" name="keyword" placeholder="Nhập tên sách hoặc tên tác giả ...">
				</form>
				<div class="filter-container">
				    <details class="filter-dropdown">
				        <summary class="filter-btn">Chọn thể loại ▼</summary>
				        <div class="filter-list">
				            <label th:each="category : ${categories}">
				                <input type="checkbox" th:value="${category}" class="category-checkbox">
				                <span th:text="${category}"></span>
				            </label>
				        </div>
				    </details>
				</div>
			</div>
		<br>
		<div class="book-list" th:if="${bookPage != null and not #lists.isEmpty(bookPage.content)}">
			<div th:each="book : ${bookPage.content}" class="book-item" >
				<img th:alt="${book.bookName}"  th:src="@{/images/book_images/{img}(img=${book.bookImage})}"width="80">
				<h4 th:text="${book.bookName}"></h4>
				<div class="button-container">
	                    <form th:action="@{/home/book-detail/{id}(id=${book.bookId})}" method="get">
	                        <button type="submit">Xem sách</button>
	                    </form>
	                </div>
				 <div th:if="${bookPage == null or #lists.isEmpty(bookPage.content)}">
	            	<p>Không có sách nào trong thư viện</p>
	       		 </div>
				<!-- Tooltip chứa thông tin sách -->
			    <div class="book-info">
			        <img th:alt="${book.bookName}" th:src="@{/images/book_images/{img}(img=${book.bookImage})}"width="80">
					<h4 th:text="${book.bookName}"></h4>
					<p>
				    Tác giả: 
				    <span th:each="author, iterStat : ${book.authors}">
				        <span th:text="${author.authorName}"></span>
				        <span th:if="${!iterStat.last}">, </span>
				    </span>
					</p>
					<p th:text="'Thể loại: ' + ${book.category}"></p>
					<p th:text="'Năm xuất bản: ' + ${book.publishYear}"></p>
			    </div>
			</div>
		</div>
		<!-- Phân trang -->
	        <div class="pagination" th:if="${bookPage.totalPages > 1}">
	            <ul>
	                <li th:if="${bookPage.hasPrevious()}">
	                    <a th:href="@{/home/latest-book(page=${bookPage.number - 1})}">Trước</a>
	                </li>
	
	                <li th:each="i : ${#numbers.sequence(0, bookPage.totalPages - 1)}"
	                    th:classappend="${i == bookPage.number} ? 'active'">
	                    <a th:href="@{/home/latest-book(page=${i})}" th:text="${i + 1}"></a>
	                </li>
	
	                <li th:if="${bookPage.hasNext()}">
	                    <a th:href="@{/home/latest-book(page=${bookPage.number + 1}, size=${bookPage.size})}">Sau</a>
	                </li>
	            </ul>
	        </div>
	</div>
	
	 <script th:src="@{/js/TooltipController.js}"></script>
	 
	 <script th:src="@{/js/notification.js}"></script>
</body>

</html>