<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/libraryPage.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<title>Thư viện</title>
</head>
<body>

	<!-- Header -->
	<div th:replace="home :: header"></div>

	
	<!-- Danh sách sách -->
	<div class="book-container">
		<h2>Thư viện</h2>
		<div class="book-list" th:if="${books != null and not #lists.isEmpty(books)}">
			<div th:each="book : ${books}" class="book-item">
				<img th:src="@{/images/book_images/{img}(img=${book.bookImage})}" alt="Ảnh bìa" width="80">
				<h4 th:text="${book.bookName}"></h4>
				<p>
				    Tác giả: 
				    <span th:each="author, iterStat : ${book.authors}">
				        <span th:text="${author.authorName}"></span>
				        <span th:if="${!iterStat.last}">, </span>
				    </span>
				</p>
				<p th:text="'Thể loại: ' + ${book.category}"></p>
				<p th:text="'Năm xuất bản: ' + ${book.publishYear}"></p>
				
				<div class="button-container">
					<form action="book-info" method="get">
						<button type="submit">Xem sách</button>
					</form>
				</div>
			</div>
		</div>
		
		<div th:if="${books == null or #lists.isEmpty(books)}">
			<p>Không có sách nào trong thư viện</p>
		</div>
	</div>
</body>
</html>