<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Độc giả đọc nhiều nhất</title>
	<link rel="stylesheet" th:href="@{/css/topReader.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<!-- Sidebar -->
<div th:replace="admin :: sidebar"></div>

		<!-- Danh sách độc giả -->
	<div class="reader-container">
		<h2>Top độc giả đọc nhiều nhất</h2>

          <table class="table">
            <thead>
				<tr>
					<th>STT</th>
					<th>ID</th>
					<th>Tên</th>
					<th>Số điện thoại</th>
					<th>Email</th>
					<th>Số lượt mượn</th>
				</tr>
				</thead>
			<tbody>
			<tr th:each="reader, iterStat : ${topReader}" class="reader-item" >
	                <td class="medal" th:text="${iterStat.index + 1}">🥇</td>
	                <td th:text="${reader.userId}"></td>
	                <td th:text="${reader.name}"></td>
	                <td th:text="${reader.phone}"></td>
	                <td th:text="${reader.email}"></td>
	                <td th:text="${reader.borrowCount}"></td>
           	</tr>
			<tr th:each="reader, iterStat : ${reader}">
				<td th:text="${iterStat.index + 4}"></td>
				<td th:text="${reader.userId}"></td>
				<td th:text="${reader.name}"></td>
				<td th:text="${reader.phone}"></td>
				<td th:text="${reader.email}"></td>
				<td th:text="${reader.borrowCount}"></td>
			</tr>
			 <!-- Thông báo không có dữ liệu -->
                <tr th:if="${#lists.isEmpty(reader)}">
                    <td colspan="9" class="no-data">Không có dữ liệu</td>
                </tr>
			</tbody>

		</table>
	</div>
</body>
</html>