<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách độc giả</title>
    <link rel="stylesheet" th:href="@{/css/userList.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
	<!-- Sidebar -->
	<div th:replace="admin :: sidebar"></div>

	<!-- Danh sách độc giả -->
	<div class="container">
		<h2>Danh sách độc giả</h2>
		
		<div class="search-container">
			<input type="text" id="searchInput" placeholder="Nhập tên hoặc email độc giả ...">
			<button class="search-btn">🔍 Tìm kiếm</button>
		</div>
		
		<table>
			<thead>
				<tr>
					<th>ID</th>
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text=${user.userId}></td>
					<td th:text=${user.name}></td>
					<td th:text=${user.email}></td>
					<td th:text=${user.phone}></td>
					<td>
						<form action="@{/admin/update-status}" method="post">
							<input type="hidden" name="userId" th:value="${user.userId}" />
							<select name="status">
								<option value="Hoạt động" th:selected="${user.status == 'Hoạt động'}">Hoạt động</option>
								<option value="Khóa" th:selected="${user.status == 'Khóa'}">Khóa</option>
							</select>
							<button type="submit" class="edit-btn">✏️</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>