<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách độc giả</title>
    <link rel="stylesheet" href="/css/userList.css">
</head>
<body>
	<!-- Sidebar -->
	<div class="sidebar">
		<h2>Menu</h2>
		<div>
			<input type="checkbox" id="menu1" class="toggle-menu">
			<label for="menu1" class="menu-item">
				<i class="fa-solid fa-book"></i> Quản lý sách
				<i class="fa-solid fa-chevron-down ms-auto"></i>
			</label>
			
			<div class="submenu">
				<!-- Nút xem ds thư viện -->
				<form action="/admin/book-list" method="post">
					<button type="submit" class="menu-btn">Danh sách thư viện</button>
				</form>
				
				<!-- Nút thêm sách -->
				<form action="/admin/add-book" method="post">
					<button type="submit" class="menu-btn">Thêm sách</button>
				</form>
			</div>
		</div>
		
		<div>
	    	<input type="checkbox" id="menu2" class="toggle-menu">
	    	<label for="menu2" class="menu-item">
	        	<i class="fa-solid fa-user"></i> Quản lý độc giả
	        	<i class="fa-solid fa-chevron-down"></i>
	    	</label>
	    	<div class="submenu">
	    		<!-- Nút ds độc giả -->
		        <form action="/admin/user-list" method="post">
					<button type="submit" class="menu-btn">Danh sách độc giả</button>
				</form>
				
				<!-- Nút ds vi phạm -->
				<form action="/admin/block-list" method="post">
					<button type="submit" class="menu-btn">Danh sách vi phạm</button>
				</form>
	    	</div>
		</div>
		
		<div>
			<input type="checkbox" id="menu3" class="toggle-menu">
			<label for="menu3" class="menu-item">
				<i class="fa-solid fa-employee"></i> Quản lý dịch vụ
				<i class="fa-solid fa-chevron-down"></i>
			</label>
			<div class="submenu">
				<form action="/admin/borrow-return-list" method="post">
					<button type="submit" class="menu-btn">Danh sách mượn/trả</button>
				</form>
			</div>
		</div>
		
		<div>
			<input type="checkbox" id="menu4" class="toggle-menu">
			<label for="menu4" class="menu-item">
				<i class="fa-solid fa-sign-out-alt"></i> Hỗ trợ
				<i class="fa-solid fa-chevron-down"></i>
			</label>
			<div class="submenu">
				<a href="/logout">Đăng xuất</a>
				<a href="/forget-password">Đổi mật khẩu</a>
			</div>
		</div>	
	</div>

	<!-- Danh sách độc giả -->
	<div class="container">
		<h2>Danh sách độc giả</h2>
		
		<div class="search-container">
			<input type="text" id="searchInput" placeholder="Nhập tên hoặc email độc giả ...">
			<button class="search-btn">🔍 Tìm kiếm</button>
		</div>
		
		<table>
			<thead>
				<tr>
					<th>ID</th>
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Trạng Thái</th>
                    <th>Hành Động</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text=${user.userId}></td>
					<td th:text=${user.name}></td>
					<td th:text=${user.email}></td>
					<td th:text=${user.phone}></td>
					<td>
						<form action="@{/admin/update-status}" method="post">
							<input type="hidden" name="userId" th:value="${user.userId" />
							<select name="status">
								<option value="Hoạt động" th:selected="${user.status == 'Hoạt động'}">Hoạt động</option>
								<option value="Khóa" th:selected="${user.status == 'Khóa'}">Khóa</option>
							</select>
							<button type="submit" class="edit-btn">✏️</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>